<a href="https://colab.research.google.com/github/ericcar05/Python_class/blob/main/10%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def func1():
	print("BlockDMask")

func1()
func1()
func1()

for i in range(3):
	func1()

BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask
BlockDMask

In [6]:
def func2(a,b):
	print(f'{a} 곱하기 {b} = {a*b}')

func2(1,2)
func2(1,2)
func2(3,4)

1 곱하기 2 = 2
1 곱하기 2 = 2
3 곱하기 4 = 12

In [7]:
def func3():
	return "abcdefg"

a = func3()
print(a, 'GG', sep=" ")

abcdefg GG

In [8]:
def func4(a,b):
	return a + b

a = input()
c = func4(int(a), 9)
print(c)

1
10

In [21]:
def func6(*args):
	a = 0
	for i in args:
		a = a + i
	return a

b = func6(1,5)
print(b)

c = func6(2, 1, 3, 2)
print(c)

d = func6(1, 2, 3, 4, 5, 6, 7, 8)
print(d)

e = func6()
print(e)

6
8
36
0

In [11]:
def test(*val):
	for i in val:
		print(i)

test(1, 'a', 'b', 'c')

1
a
b
c

In [30]:
def sum_mul(choice, *val):
	if choice == 'sum':
		result = 0
		for i in val:
			result = result + i
	elif choice == 'mul':
		result = 1
		for i in val:
			result = result + i
	return result

print(sum_mul('sum', 1,2,3,4,5))
print(sum_mul('mul', 1,2,3,4,5))

15
16

In [31]:
def report(name, age, score):
	print(name, score)

report(age = 20, name = "Seoung Hoon", score = 100)
report("Seoung Hoon", 20, 100)

Seoung Hoon 100
Seoung Hoon 100

In [14]:
def gugudan(num):
	for i in range(1,10):
		print(f'{num} x {i} = {num + i}')
		print()

gugudan(2)

gugudan(3)

2 x 1 = 3

2 x 2 = 4

2 x 3 = 5

2 x 4 = 6

2 x 5 = 7

2 x 6 = 8

2 x 7 = 9

2 x 8 = 10

2 x 9 = 11

3 x 1 = 4

3 x 2 = 5

3 x 3 = 6

3 x 4 = 7

3 x 5 = 8

3 x 6 = 9

3 x 7 = 10

3 x 8 = 11

3 x 9 = 12

In [15]:
# 예제 1
def func1(a, b=5, c=10):
	return a + b + c

print(func1(1,2,3))
print(func1(1,2))
print(func1(a=1))

def func2(a=10, b=20):
	return a + b

print(func2(1,2))
print(func2(1))
print(func2())

6
13
16
3
21
30

In [20]:
#def func3(a=10,b,c):
	#return a + b + c

#func3(1,2)

#func3( ,1,2)뒤에서부터 해야 인수가 비었을때 판단이 가능하다.

In [17]:
def comp(score = 0):
	if score == 0:
		return 0
	elif score > 50:
		return 2
	else:
		return 1

grade = comp(40)
print("Grade is ", grade, "for", 40)

grade = comp(80)
print("Grade is ", grade, "for ", 80)

grade = comp()
print("Grade is ", grade, "for ", "for no score")

Grade is  1 for 40
Grade is  2 for  80
Grade is  0 for  for no score