<a href="https://colab.research.google.com/github/ericcar05/Python_class/blob/main/3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello")
print('hello','everyone')
#print() 함수는 기본적으로 줄 바꿈 문자를 추가로 입력함
print('hello', end='!!!') #기본적으로 생기는 줄 바꿈 문자 \n을 end를 이용하여 다른 문자로 바꿈

Hello
hello everyone
hello!!!

In [3]:
print('Hello World')
print("Nice to meet you.")
print('Hello "World"')
print("Hello 'World'")
print('Hello','World')
print('Hello'+'World')

Hello World
Nice to meet you.
Hello "World"
Hello 'World'
Hello World
HelloWorld

In [4]:
print("\"string\"")
print('\'string\'')

"string"
'string'

In [5]:
s1 = '화면에 직접 출력'
s2 = 'ab\c'
s3 = 'does'
print(s1)
print(s2)
print(s3)
print(s1[0]) #[]를 사용하여 첫번째 단어 출력
print(s2[1]) #[]를 사용하여 두번째 단어 출력
print(s3[1:3]) #[]를 사용하여 두번째에서 3번째 단어 출력
print(s3[-1]) #뒤에서 첫번째 단어 출력
print(s3[-2]) #뒤에서 두번째 단어 출력

화면에 직접 출력
ab\c
does
화
b
oe
s
e

In [6]:
a = 2
b = 3.14
c = a+b
d = 1e2  #e2 : 10^2라는 뜻
e = 1e-2
print(a)
print(b)
print(c)
print(round(c,2)) #소수점 둘째자리까지 c를 출력
print("%.2f" % (c)) #소수점 둘째자리까지 c를 출력
print(a+b)
print(a,b,a+b,c)
print(d)
print(e)

2
3.14
5.140000000000001
5.14
5.14
5.140000000000001
2 3.14 5.140000000000001 5.140000000000001
100.0
0.01

In [7]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
print(item1, price1, sep=',',end='/') #sep로 두 값 사이에 ',' 출력, end로 개행문자를 /로 변경
print(item2, price2)

사과,1000/바나나 500

In [8]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str1 = '{0}는 {1}원입니다.' #문자열에 {}를 사용하여 format을 통해 받을 값의 위치 지정
print(str1.format(item1, price1))
print(str1.format(item2, price2))

사과는 1000원입니다.
바나나는 500원입니다.

In [9]:
item1 = '사과'
price1 = 1000
item2 = '바나나'
price2 = 500
str2 = '%s는 %d원입니다.' #문자열에서 %s(문자형 변수 호출)와 %d(숫자형 변수 호출) 문자를 사용
print(str2%(item1, price1)) #받으려는 변수 앞에 % 사용
print(str2%(item2, price2))

사과는 1000원입니다.
바나나는 500원입니다.